.symbol {
  font-size: 10px;
  margin-left: 4px;
  flex-shrink: 0;

  > svg {
    vertical-align: 0;
  }
}

// 响应式设计
@media (max-width: 768px) {
  .symbol {
    font-size: 9px;
    margin-left: 2px;
  }
}
